{% extends 'baseAdmin.html.twig' %}


{% block bodyContent %}
<section class="content-header">
    <h1>
        Gestion Produit
        <small>Lecture de la catégorie</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin') }}"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a href="#">Produits</a></li>
        <li><a href="#">Catégorie</a></li>
        <li class="active">Lecture</li>
    </ol>
</section>
<div class="dashboard1 mt-2">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cat_product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cat_product.name }}</td>
            </tr>
            <tr>
                <th>Placement</th>
                <td>{{ cat_product.placement }}</td>
            </tr>
        </tbody>
    </table>


    <div class="row">
        <div class="col-md-6 text-right">
            <a href="{{ path('cat_product_edit', {'id': cat_product.id}) }}"  class="btn btn-warning btn-lg">edit</a>
        </div>
        <div class="col-md-6">
            <form method="post" action="{{ path('cat_product_delete', {'id': cat_product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cat_product.id) }}">
                <button class="btn btn-lg btn-danger">Delete</button>
            </form>

        </div>
    </div>

    <a href="{{ path('cat_product_index') }}"><i class="fa fa-arrow-left"></i> back to list</a>


</div>
{% endblock %}
