<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>livraison </title>
    <style>
        .td-25 {
            width: 25%;
        }

        .td-50 {
            width: 50%;
        }

        .td-75 {
            width: 75%;
        }

        .td-100 {
            width: 100%;
        }

        p {
            padding: 10px;
        }

        .table {
            width: 100%;
            padding: 1em;
            border: 1px solid;
        }

        .timbre {
            position: absolute;
            padding: 5px;
            top: 0;
            width: 80px;
            height: 80px;
            float: right;
            border: 1px solid black;
            background-color: white;
            z-index: 1000;
        }


        .bg-secondary {
            background-color: #6c757d !important
        }

        td{
            vertical-align: top;
        }
        .container {
            margin-top: 5em;
        }
    </style>
</head>
<body>
<h4>{{ title }} n° {{ order.id }}</h4>
<h6>Date du {{ order.date|date('d/m/Y H:i') }}</h6>
<h5>{{ order.user.nom }} {{ order.user.prenom }}</h5>
<h5>Tel: {{ order.user.telFixe }}/{{ order.user.telMobile }}</h5>
<h5>Mail: {{ order.user.email }}</h5>

<h5>{{ order.address.address }}<br>{{ order.address.zipCode }} {{ order.address.city }}</h5>

<div class="container">

    <table class="table">
        <tbody>

        <tr>
            <td class="td-50">
                <h3>Détails de la commande</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>PU</th>
                        <th>Qté</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart in orderProducts %}
                        <tr class="">
                            <td class="product-name" data-title="Produit">
                                {{ cart.product.name }}
                            </td>

                            <td class="product-price" data-title="Prix">
                                <span class="woocommerce-Price-amount amount">{{ cart.price }}
                                    <span class="woocommerce-Price-currencySymbol"> €</span>
                                </span>
                            </td>

                            <td class="product-quantity" data-title="Quantité">
                                {{ cart.quantity }}
                            </td>

                            <td class="product-subtotal" data-title="Total">
                                <span class="woocommerce-Price-amount amount"> {% set productTotal = cart.price * cart.quantity %}
                                    {{ productTotal }}<span
                                            class="woocommerce-Price-currencySymbol"> €</span></span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
            <td class="td-50">
                <h3>Total</h3>
                <table class="table table-cart mb-3">
                    <tr>
                        <th>SOUS-TOTAL</th>
                        {% set soustotal = order.price - livraison %}
                        <td>{{ soustotal }} €</td>
                    </tr>
                    <tr>
                        <th>EXPEDITION</th>
                        <td>{{ livraison }} €</td>
                    </tr>
                    <tr>
                        <th>TOTAL</th>
                        <td>
                            {{ order.price }} €
                        </td>
                    </tr>
                    <tr>
                        <th>STATUS</th>
                        <td>{% if order.status == 0 %}
                                En attente depuis le {{ order.date|date("d/m/Y à H:i") }}
                            {% elseif order.status == 1 %}
                                En préparation depuis le {{ order.dateUpdate|date("d/m/Y à H:i") }}
                            {% elseif order.status == 2 %}
                                En transit depuis le {{ order.dateUpdate|date("d/m/Y à H:i") }}
                            {% elseif order.status == 3 %}
                                Terminée depuis le {{ order.dateUpdate|date("d/m/Y à H:i") }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>ADDRESS</th>
                        <td>{{ order.address.nom }}</td>
                    </tr>
                    <tr>
                        <th>MOYEN DE PAYEMENT</th>
                        <td>
                            {% if order.paymentType == 1 %}
                                Carte banquaire
                            {% elseif order.paymentType == 2 %}
                                Paypal
                            {% else %}
                                Autre moyen de payement
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>