{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="display-5 display-6 mb-3  font-weight-normal">Register</h1>

        {{ form_start(registrationForm) }}
        <div class="form-group">
            {{ form_row(registrationForm.username, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.email, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-group">

            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
                ,'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-group">

            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <div class="text-center">

        <button type="submit" class=" btn btn-lg btn-primary">Register</button>
        {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
