<section class="form form1 cid-s0bsDs1FSW" id="form01-a">


    <div class="container">
        <div class="mbr-row">
            <div class="mbr-col-lg-12 mbr-col-md-12 mbr-pb-5 mbr-col-sm-12">
                <h2 class="mbr-section-title mbr-fonts-style mbr-pb-3 align-left display-2">Contact us</h2>
                <h3 class="mbr-fonts-style mbr-subtitle align-left display-7">Let us know how we can help you.</h3>
            </div>

            <div class="mbr-col-lg-6 mbr-col-md-12 mbr-col-sm-12 md-pb mbr-form" data-form-type="formoid">
                {{ form_start(contactForm) }}
                {{ form_widget(contactForm) }}
                <div class="text-center">
                    <button class="btn btn-black display-7">{{ button_label|default('Send') }}</button>
                </div>
                {{ form_end(contactForm) }}

            </div>

            <div class="mbr-col-lg-3 mbr-col-md-12 mbr-col-sm-12">
                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Information&nbsp;</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">{{ contactConfig.infoMail }}</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Customer service</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">{{ contactConfig.customerMail }}</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Sales</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">{{ contactConfig.salesMail }}</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Press</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">{{ contactConfig.pressMail }}</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Follow us</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4"><a href="{{ contactConfig.instagramm }}" target="_blank"> Instagram</a>
                        <br><a href="{{ contactConfig.pinterest }}" target="_blank"> Pinterest</a>
                        <br><a href="{{ contactConfig.twitter }}" target="_blank"> Twitter</a>
                        <br><a href="{{ contactConfig.facebook }}" target="_blank"> Facebook</a></p>
                </div>

            </div>




        </div>
    </div>
</section>
